body {
  background: #0769AD;
  font: 15px/22.5px "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
}

nav,
main,
footer {
  box-sizing: border-box;
  max-width: 800px;
  margin: 0 auto;
}

nav {
  margin: 0 auto 10px auto;
}
.global-menu {
  list-style: none;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;

  background: rgba(0, 0, 0, 0.18);
  padding: 5px 20px;
  border-radius: 0 0 10px 10px;
}
.global-menu a {
  display: block;
  margin: 0 10px 0 0;
  padding: 0 5px;
  color: #fff;
}

a {
  color: #B24926;
}

main {
  padding: 20px;

  background: #fff;
  border-top: 1px solid #333;
}

h1 {
  padding-bottom: 1em;
  border-bottom: 10px solid #efefef;
}

footer {
  margin: 10px auto;
  background: #242424;
  padding: 20px;
  font-size: 12px;
  line-height: 130%;
  color: #aaa;
}
footer strong {
  font-size: 1rem;
  font-weight: normal;
  vertical-align: middle;
}
footer a {
  color: #fff;
}

